* {
    background-color: #1b1f23;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Metropolis",Arial,sans-serif;
}

.logo {
    background-color: #ffffff;
    border-radius: 50%;
}

.container {
    margin-top: 2rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
}

input[type=submit] {
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 4px;
    line-height: 1.23rem;
    margin-top: 2rem;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    transition: 0.3s;
}

input[type=submit]:hover, button:hover {
    background-color: #6db33f;
}

h1 {
    color: #6db33f;
}

p {
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=password] {
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 0.5rem;
}

input:focus{
    outline-color: #6db33f;
}

.loginInfo {
    padding-bottom: 1rem;
}