<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Leaders</title>
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <img class="logo" th:src="@{images/springio-icon.svg}" width="72" height="72" />
    <h1>Company Leaders Page</h1>
    <p>Welcome to the company leaders page!</p>
    <hr>
    <p>
        User: <span sec:authentication="principal.username"></span> - <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <div id="meetings">
        <p><a th:href="@{/}">Back to home page</a></p>
    </div>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
</html>
